.vscode/**
.vscode-test/**

.gitignore
.yarnrc
.git
.github
**/*.map
**/*.ts
!**/*.d.ts
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
pnpm-lock.yaml
package-lock.json
renovate.json
tsconfig.json
.pre-commit-config.yaml
**/*.vsix
diff-comments.yaml
gemini.md
src
