.vscode/**
.vscode-test/**

.gitignore
.yarnrc
.git
.github
**/*.map
**/*.ts
!**/*.d.ts
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
pnpm-lock.yaml
tsconfig.json
package-lock.json
renovate.json
.pre-commit-config.yaml
**/*.vsix
diff-comments.yaml
.vscode
node_modules

src/
gemini.md
*.vsix
.editorconfig
