.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
.git
.github
**/*.map
**/*.ts
!**/*.d.ts
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
pnpm-lock.yaml
tsconfig.json
.pre-commit-config.yaml
**/*.vsix
